name: Build

on:
    push:
        branches:
            - main
jobs:
  qa:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Upload trashcard.js
        uses: actions/upload-artifact@v4
        with:
          name: trashcard-${{ matrix.node-version }}
          path: dist/trashcard.js
